[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  <section class="section">
    <table class="table">
      <thead>
        <tr><th></th><th>Count</th><th>Bird</th></tr>
      </thead>
      <tbody>
        <tr v-for="bird in birds">
          <td>
            <i @click="inc_count(bird._idx, 1)" class="fa fa-fw fa-plus-circle"></i>
            <i @click="inc_count(bird._idx, -1)" class="fa fa-fw fa-minus-circle"></i>
          </td>
          <td>{{bird.count}}</td>
          <td>{{bird.name}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let my_post_url = "[[=XML(my_post_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
